.main-chat
  .header
    .header__left-box
      .header__left-box__group-name
        ポケモン
      .header__left-box__member-list
        Menber: 
        .header__left-box__member-list__member
          kana
    .header__edit-btn
      Edit

  .messages
    .message
      .message__info
        .message__info__name
          kana
        .message__info__date
          2019/11/08(Fri) 13:30:40
      .message__text
        最新作でるよ
    
  .from
    %input.from__input-box{placeholder: "type a message", value: ""}
    %label.from__image
      = icon 'far','image'
      %input{type: "file", class: "file"}
    .send-btn
      send